<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/crear">
      <!-- Logo desde public -->
      <img src="/Logo-UCA.png" alt="logo" width="40" height="40" />
      <span class="fw-bold">Mi Presupuesto - UCA</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item me-2">
          <a class="btn btn-outline-primary" routerLink="/crear">Crear Presupuesto</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/administrar">Administrar Presupuesto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
