<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">Agregar gasto</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Ej: Supermercado">
      </div>
      <div class="mb-2">
        <label class="form-label">Monto</label>
        <input type="number" class="form-control" formControlName="cantidad" placeholder="Ej: 25000">
      </div>

      <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
      <div *ngIf="successMsg" class="alert alert-success">{{ successMsg }}</div>

      <button type="submit" class="btn btn-success w-100">Agregar</button>
    </form>
  </div>
</div>